{
	"extends": "eslint-config-airbnb",
	"env": {
		"node": true,
		"mocha": true,
		"browser": true
	},

	"globals": {
		"sinon": true,
		"expect": true,
		"chai": true,
    "isBrowser": true,
    "setBrowser": true
	},

	"parser": "babel-eslint",
	//"extends": "eslint:recommended",
	"plugins": ["react"],

	"rules": {
    "comma-dangle": ["error", "never"],
    "new-cap": 0,
    "no-unused-expressions": 0,
    "react/jsx-indent-props": 0,
    "react/jsx-first-prop-new-line": 0,
    "react/jsx-closing-bracket-location": 0,
    "react/wrap-multilines": 0,
    "react/prefer-stateless-function": 0,
    "react/jsx-no-bind": 0
	}
}
