{
	"extends": "eslint:recommended",
	"parser": "babel-eslint",
	"env": {
		"browser": true,
		"node": true
	},
	"plugins": [
		"react"
	],
	"globals": {
		"isBrowser": true,
		"global": true,
		"window": true
	},
	"rules": {
		"indent": 0,
		"new-cap": 0,
		"no-underscore-dangle": 0,
		"no-use-before-define": 0,
		"eol-last": 0,
		"quotes": [2, "single"],
		"jsx-quotes": 1,
		"react/jsx-no-undef": 1,
		"react/jsx-uses-react": 1,
		"react/jsx-uses-vars": 1,
		"react/jsx-indent-props": 0,
		"angular/window-service": 0
	}
}
